* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;

}

section { 
    width: 90%;
    margin: 0 auto 40px auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.875rem;
    font-weight: 700;
    font-style: normal;
    color: #002147;
}

p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    color: #2a2a2a;
    padding: 15px;
}

/* Reszponzív beállítások 
@media (max-width: 768px) {
    .header-wrapper {
        padding: 20px 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    .cta-btn {
        padding: 10px 25px;
    }

   /* .features ul {
        padding-left: 20px;
    }
        */

   /* .image-wrapper {
        padding: 10px;
    }

    /*.features h2 {
        font-size: 1.5rem;
    }

    .features li {
        font-size: 1rem;
    }
}
*/
